<div class="row">
  <ul>
    <li
      class="list-group-item"
      *ngFor="let cat of categories; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActiveTutorial(cat, i)"
    >
      <form>
        <div class="card">
          <div class="card-body">
            <a routerLink="/bt/{{ cat.id }}">
              <h4 class="card-title">{{ cat.category }}</h4>
              <img
                class="card-img-bottom"
                src="/assets/images/download.jpg"
                alt="Card image"
                style="width: 100%"
              />
            </a>
          </div>
        </div>
      </form>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
